<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Spring Events</title>
</head>
<body>
	<div th:fragment="header">
		<div id="navigation"></div>
		<div id="header">
			<div class="logo">
				<h1>Spring Events</h1>
			</div>
		</div>
		<div class="bar">
			<span class="left_aligned">
				<a href="/events/">List</a>
			</span>
			<span class="right_aligned">
				<a href="/events/new">New</a>
			</span>
		</div>
	</div>
</body>
</html>
