<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="meta">
	<title>Spring Events</title>
	<meta http-equiv="content-type" content="application/xhtml+xml;charset=utf-8" />
	<meta http-equiv="content-language" content="en" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="expires" content="-1" />
	<meta name="googlebot" content="index, follow" />
	<meta name="robots" content="index,follow" />
	<meta name="revisit-after" content="14 days" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<style type="text/css">
		@import url("/css/style.css");
	</style>
</head>
<body>
	...
</body>
</html>
